---
 const personalImageAlt = "Carolina Rodr铆guez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Soy Carolina Rodr铆guez, <strong>desarrolladora full stack</strong> con formaci贸n en Desarrollo de Aplicaciones Multiplataforma y una trayectoria profesional que comenz贸 en el mundo de la administraci贸n, pero encontr贸 su prop贸sito en la tecnolog铆a.
  </p>

  <p>
    Actualmente <strong>trabajo en proyectos reales como desarrolladora backend y QA</strong>, participando tambi茅n en el dise帽o de aplicaciones m贸viles y ayudando a construir productos digitales funcionales y escalables.
  </p>

  <p>
    Mi enfoque combina <strong>desarrollo web y m贸vil, dise帽o UI/UX y pasi贸n por crear software que aporte valor real</strong>. Me gusta colaborar, resolver problemas y seguir aprendiendo constantemente. Este portfolio es una ventana a mi trabajo. 
  </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
