---
 const personalImageAlt = "Carolina Rodríguez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
<div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, soy Carolina Rodríguez, <strong>desarrolladora full stack</strong> nacida en Madrid en 1994 y apasionada del desarrollo de software desde muy joven. Siempre he sentido una gran curiosidad por la tecnología, y los videojuegos y ordenadores despertaron en mí ese interés que hoy se ha convertido en mi vocación.
    </p>

    <p>
      He estudiado el <strong>Grado Superior de Desarrollo de Aplicaciones Multiplataforma (DAM) en la U-tad</strong> y actualmente trabajo como desarrolladora full stack en <strong>MeAsesoran</strong>. Aquí formo parte del equipo que ha desarrollado y puesto en producción la app de rentas, facilitando a nuestros clientes la presentación de la declaración de la renta de manera sencilla e intuitiva.
    </p>

    <p>
      Me encanta trabajar en <strong>proyectos que aportan valor real</strong> y que suponen un reto. Me involucro tanto en el <strong>desarrollo web y móvil</strong> como en aspectos de <strong>diseño UI/UX</strong> y testeo de funcionalidades. Disfruto colaborando en equipo, resolviendo problemas y aprendiendo constantemente. Este portfolio refleja parte de ese recorrido y mi compromiso con crear software útil y de calidad.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
