---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Presente",
    title: "Co-fundadora y Desarrolladora Full Stack",
    company: "Revista Victoria",
    description:
      "Diseño y desarrollo completo de la plataforma web para la revista de moda independiente 'Revista Victoria'. Desarrollo desde cero con enfoque visual atractivo, optimización para SEO y gestión de contenidos personalizada. Trabajo directamente con el cliente para definir funcionalidades y mantener la escalabilidad del sitio.",
    link: "https://www.victoriarevista.com/",
  },
  {
    date: "Desde 2023 - presente",
    title: "Desarrolladora Full Stack",
    company: "Me Asesoran Rentas",
    description:
      "Desarrollo y mantenimiento de la aplicación Me Asesoran Rentas, actualmente en producción y en uso por miles de usuarios. Desarrollo de funcionalidades tanto en backend como en frontend. He desarrollado la creación del panel exclusivo para asesores fiscales.\n\n" +
      "Colaboración directa con el equipo de producto para entender las necesidades de los usuarios y traducirlas en soluciones técnicas.\n" +
      "Desarrollo completo del producto Me Asesoran Rentas, incluyendo integración con APIs de la Agencia Tributaria, sistema de autenticación oficial y validación de declaraciones.",
    link: "https://rentas.measesoran.eu",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
